.tableContainer p {
 font-size: 1.25rem;
}

.table {
 border-collapse: collapse;
 min-width: 50%;
 margin-bottom: 1rem;
 font-size: 1.25rem;
 box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

.table thead tr {
 text-align: left;
 font-size: 1.5rem;
 background-color: #009879;
 color: #fff;
 font-weight: bold;
}

.table th,
.table td {
 padding: 0.5rem;
}

.table tbody tr {
 border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
 background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
 border-bottom: 2px solid #009879;
}

.table tbody input[type='checkbox'] {
 width: 1.75rem;
 height: 1.75rem;
 accent-color: #009879;
}
